<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Mobile Legend</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/hero">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="card border-info">
      <div class="card-header">Create hero</div>
      <div class="card-body">
        <form action="/skill/add" method="post" onsubmit="alertAdd()">
          <div class="form-floating mb-3">
            <input name="hero" type="text" class="form-control" id="floatingHero" placeholder="Insert Hero Name" required>
            <label for="floatingHero">Name Hero</label>
          </div>
          <div class="form-floating mb-3">
            <input name="skill1" type="text" class="form-control" id="floatingInput" placeholder="Insert skill 1" required>
            <label for="floatingInput">Skill 1</label>
          </div>
          <div class="form-floating mb-3">
            <input name="skill2" type="text" class="form-control" id="floatingSkill2" placeholder="Insert skill 2"required>
            <label for="floatingSkill2">Skill 2</label>
          </div>
          <div class="form-floating mb-3">
            <input name="skill3" type="text" class="form-control" id="floatingSkill3" placeholder="Insert skill 3" required>
            <label for="floatingSkill3">Skill 3</label>
          </div>
          <div class="form-floating mb-3">
            <input name="skillPasif" type="text" class="form-control" id="floatingPasif"
              placeholder="Insert skill Pasif">
            <label for="floatingPasif">Skill Pasif</label>
          </div>
          <button type="submit" class="btn btn-success" style="font-family: 'poppins' ;">Submit</button>
          <a href="/skill" class="btn btn-outline-secondary" style="font-family: 'poppins' ;">Cancel</a>
        </form>
      </div>
    </div>
  </div>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>

  <script>
    function alertAdd() {
      Swal.fire({
        position: 'bottom-end',
        icon: 'success',
        title: 'SUCCESS',
        text:'Your Skill Hero has been saved',
        showConfirmButton: false,
        timer: 5000,
      })
    }
  </script>

</body>

</html>